<main class="index">
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1">Favorite Links</h1>
      <h3 class="mb-3">
        <em>Store your favorite links</em>
      </h3>
      <a class="btn btn-primary " href="/login">Let's go</a>
    </div>
  </header>
</main>
