<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card text-center">
        <div class="card-body">
          <h3>Welcome {{user.fullname}}</h3>
          <h4>{{user.username}}</h4>
          <a class="btn btn-primary" href="/links">Save your links</a>
        </div>
      </div>
    </div>
  </div>
</div>
