<div class="row">
    <div class="col-md-4  mx-auto m-4">
      <h3 class="mb-4">Create a new link</h3>
      <div class="card">
        <div class="card-body">
          <form class="" action="/links/create" method="post">
            <div class="form-group">
              <input class="form-control" type="text" name="title" placeholder="Title" autofocus>
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="url" placeholder="Url">
            </div>
            <div class="form-group">
              <textarea class="form-control" name="description" placeholder="Description"></textarea>
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-block" type="submit">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
